# Where to find all modules.
# To start it first, modify the path below,
# so you have it $YOURPATH/teabox/example
# Yes, it should be absolute.
content: /full/path/to/the/teabox/example

# Default callback location
callback: /tmp/teabox.sock

# Environment, which applies to all modules
env:
  PYTHONPATH: /usr/share/eco/lib/python

# Rebranding features to (re)define the UI colors
ui:
  widgets:
    menu-width: 30
    label-back: "◀ Back"
    label-exit: "Exit ▶"
    label-sep: "─"
    label-more: "..."

  colors:
    # Values are 'default' (or omitted at all), or hexadecimal RGB: 0xRRGGBB

    # Workspaces
    # ----------
    #
    # WORKSPACE_BACKGROUND
    background: default

    # WORKSPACE_HEADER
    header-background: default

    # WORKSPACE_HEADER_TEXT
    header-foreground: default

    # Forms
    # -----
    #
    # FORM_BUTTON_BACKGROUND
    button-background: default

    # FORM_BUTTON_BACKGROUND_SELECTED
    button-background-selected: default

    # FORM_BUTTON_TEXT
    button-foreground: default

    # FORM_BUTTON_TEXT_SELECTED
    button-foreground-selected: default

    # FORM_BORDER_SELECTED
    border-selected: default

    # FORM_BORDER
    border: default

    # Menus
    # -----
    #
    # MENU_BORDER_SELECTED
    menu-border-selected: default

    # MENU_BORDER
    menu-border: default

    # MENU_ITEM
    menu-item: default

    # MENU_ITEM_SELECTED
    menu-item-selected: default
